{% load staticfiles %}
{% include 'article_start.html' %}
{% block body %} 
    <center>
        <form action="{% url 'add_customer_submit' %}" method="POST" enctype="multipart/form-data">
            <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
                {% csrf_token %}
                {% include 'form_template.html' %}
                <tr><td><button type="submit" class="form-submit">submit</button></td>
                    <td><input type="reset" value="" class="form-reset" /></td></tr>
            </table>        
        </form>
    </center>
{% endblock %}
{% include 'article_close.html' %}