{% load staticfiles %}
{% include "header.html" %} <!-- //banner -->
<!-- check out -->
<div class="checkout">
	<div class="container">
		<h3>My Shopping Bag</h3>
		<div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
			<table class="timetable_sub">
				<thead>
					<tr>
						<th>Remove</th>
						<th>Product</th>
						<th>Quantity</th>
						<th>Product Name</th>
						<th>Price</th>
					</tr>
				</thead>
				{% for cart_data in temp_cart %}

					<tr class="rem1">
						<td class="invert-closeb">
							<a href="{% url 'remove_product' %}?product_id={{ cart_data.pro_id_id }}"><div class="rem">
								<div class="close1"> </div>
							</div>
							<script>$(document).ready(function(c) {
								$('.close1').on('click', function(c){
									$('.rem1').fadeOut('slow', function(c){
										$(this).remove();
									});
									});	  
								});
						   </script>
						</td>
						<td class="invert-image"><a href="single.html"><img src="{% static 'product_images/' %}{{ cart_data.pro_id.image }}"	 alt=" " class="img-responsive" /></a></td>
						<td class="invert">
							 <div class="quantity"> 
								<div class="quantity-select">                           
									<a href="{% url 'quantity_dec' %}?product_id={{ cart_data.pro_id_id }}"><div class="entry value-minus">&nbsp;</div></a>
									
									<div class="entry value"><span>{{ cart_data.quantity }}</span></div>
									<a href="{% url 'quantity_inc' %}?product_id={{ cart_data.pro_id_id }}"><div class="entry value-plus active">&nbsp;</div></a>
								</div>
							</div>
						</td>
						<td class="invert">	{{ cart_data.pro_id }} </td>
						<td class="invert" id="amount">{% widthratio cart_data.pro_id.pro_price 1 cart_data.quantity %}  </td>
						 
												
					</tr> 
					{% endfor %} 
						<!--quantity-->
							<script>
							$('.value-plus').on('click', function(){
								var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
								divUpd.text(newVal);
							});
							$('.value-minus').on('click', function(){
								var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
								if(newVal>=1) divUpd.text(newVal);
							});
							</script>
						<!--quantity-->
			</table>
		</div>
		<div class="checkout-left">	 
			<div class="row">
				<div class="col-sm-4" data-wow-delay=".5s">
					<a href="{% url 'user' %}"><button class="btn btn-default btn_cart">Back To Shopping</button></a>
				</div>
				<div class="col-sm-8">
					<div class="pull-right">
						<a href="{% url 'user_payment' %}"><button class="btn btn-default btn_cart">Payment</button></a>
					</div>
				</div>
			</div>
				
				<div class="clearfix"> </div>
			</div>
	</div>
</div>	
<!-- //check out -->
<!-- //product-nav --> 
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="clearfix"></div>
		<p class="copy-right">&copy 2018 SenseShop. All rights reserved | Design by </p>
	</div>
</div>
</body>
</html>
