<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>SenseShop</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- pignose css -->
<link href="css/pignose.layerslider.css" rel="stylesheet" type="text/css" media="all" />


<!-- //pignose css -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- cart -->
	<script src="js/simpleCart.min.js"></script>
<!-- cart -->
<!-- for bootstrap working -->
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<script src="js/jquery.easing.min.js"></script>
</head>
<body>
<!-- header -->
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="container">
		<div class="col-md-3 header-left">
			<h1><a href="index.html"><img src="images/logo.png"></a></h1>
		</div>
		<div class="col-md-4 header-middle pull-right">
			<form>
				<div class="search">
					<input type="search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
				</div>
				<div class="sear-sub">
					<input type="submit" value=" ">
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
		
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav menu__list">
					<li class="active menu__item menu__item--current">
					<a class="menu__link" href="index.html">Home</a></li>
					<li class=" menu__item"><a class="menu__link" href="">Order details</a></li>
					<li class=" menu__item"><a class="menu__link" href="contact.html">conatct us</a></li>


					<li class=" menu__item"><a class="menu__link" href="">logout</a></li>
				  </ul>
				</div>
			  </div>
			</nav>	
		</div>
		<div class="top_nav_right">
			<div class="cart box_1">
						<a href="checkout.html">
							<h3> <div class="total">
								<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
								<span class="simpleCart_total"></span> </div>
							</h3>
							<p></p>
						</a>
						
						
			</div>	
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- order details -->
<div class="container">
	<div class="row">
		<div class="col-md-12 details_heading">
			<h3>Order Details</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table order_head">
    <thead>
      <tr>
      	<th>Oreder ID</th>
        <th>Product image</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Complaint</th>
      </tr>
    </thead>
    <tbody class="order_details">
      <tr>
      	<td><p>1</p></td>
        <td><img src="images/a1.jpg" alt="" class="pro-image-front"></td>
        <td><p>Apple</p></td>
        <td><p>45.99</p></td>
        <td><p>3</p></td>
        <td><p>137.97</p></td>
        <td><a href="complaint.html"><button type="button" class="btn btn-default">Complaint</button></a></td>
      </tr>
      <tr>
      	<td><p>1</p></td>
        <td><img src="images/a4.jpg" alt="" class="pro-image-front"></td>
        <td><p>Pineapple</p></td>
        <td><p>79.99</p></td>
        <td><p>3</p></td>
        <td><p>239.97</p></td>
        <td><a href="complaint.html"><button type="button" class="btn btn-default">Complaint</button></a></td>
      </tr>
      <tr>
      	<td><p>1</p></td>
        <td><img src="images/a2.jpg" alt="" class="pro-image-front"></td>
        <td><p>Banana</p></td>
        <td><p>99.99</p></td>
        <td><p>2</p></td>
        <td><p>199.98</p></td>
        <td><a href="complaint.html"><button type="button" class="btn btn-default">Complaint</button></a></td>
      </tr>
      <tr>
      	<td><p>1</p></td>
        <td><img src="images/a3.jpg" alt="" class="pro-image-front"></td>
        <td><p>Apple</p></td>
        <td><p>45.99</p></td>
        <td><p>3</p></td>
        <td><p>137.97</p></td>
        <td><a href="complaint.html"><button type="button" class="btn btn-default">Complaint</button></a></td>
      </tr>
    </tbody>
  </table>
		</div>
	</div>
</div>


<div class="footer">
	<div class="container">
		<div class="clearfix"></div>
		<p class="copy-right">&copy 2018 SenseShop. All rights reserved | Design by </p>
	</div>
</div>
<!-- //footer -->

</body>
</html>
