  {% load staticfiles %}
		 <link rel="stylesheet" href="{% static 'css/skel.css' %}" />
		 	<link rel="stylesheet" href="{% static 'css/style-desktop.css' %}" />
		 	<link rel="stylesheet" href="{% static 'css/style-wide.css' %}" />
         	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!DOCTYPE HTML>
<html>
	<head>
	</head>
	<!--
		Note: Set the body element's class to "left-sidebar" to position the sidebar on the left.
		Set it to "right-sidebar" to, you guessed it, position it on the right.
	-->
	<body class="left-sidebar" >

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Content -->
					<div id="content" >
						<div class="inner">
							<!-- Post -->
								<article class="box post post-excerpt">