{% load staticfiles %}
{% include "header.html" %}
<!-- complaint form-->
<div class="container">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3 complaint_form">
			<div class="title_comaplaint">
				<h3>Complaint</h3>
			</div>
         <form action="{% url 'complaintadd' %}" method="POST" enctype="multipart/form-data" class="complaint" style="margin-top: 10px"> 
			 {% csrf_token %}
			<div class="form-group">
				<label>Complaint Message:</label>
				<input type="text" name="cm_msg" id="cm_msg" required>
				<input type="hidden" name="o_id" value="{{ o_id }}">
			</div>
            <center><button type="submit" class="btn btn-default submit btn_cart">submit</button></center>
             
         </form>
        </div>
	</div>
</div> 
<div class="footer">
	<div class="container">
		<div class="clearfix"></div>
		<p class="copy-right">&copy 2018 SenseShop. All rights reserved | Design by </p>
	</div>
</div>
<!-- //footer -->

</body>
</html>