#title
{
position: absolute;
	height: 80px;
	width: 500px;
	left: 400px;
	top: 25px;
}
#Search
{
position: absolute;
	height: 100px;
	width: 700px;
	left: 300px;
	top: 135px;
}
#language
{
	position: absolute;
	height: 80px;
	width: 500px;
	left: 800px;
	top: 200px;
}
#main-part
{
	position: absolute;
	height: 100px;
	width: 700px;
	left: 300px;
	top: 250px;
}
#a
{
	border:1px solid;
	border-radius:20px;
	background-color:#990099;
	height: 120px;
	width: 240px;
	left: 50px;
	top: 250px;
	position: absolute;
	z-index: auto;
}
#b
{	
	border:1px solid;
	border-radius:20px;
	background-color: #FF6600 ;
	height: 120px;
	width: 240px;
	left: 300px;
	top: 250px;
	position: absolute;
	z-index: auto;
}
#c
{	border:1px solid;
	border-radius:20px;
	background-color: #0000FF;
	height: 120px;
	width: 240px;
	left: 550px;
	top: 250px;
	position: absolute;
	z-index: auto;
}

#d
{	border:1px solid;
	border-radius:20px;
	background-color: #CCCCCC ;
	height: 120px;
	width: 240px;
	left: 800px;
	top: 250px;
	position: absolute;
	z-index: auto;
}

#e
{	border:1px solid;
	border-radius:20px;
	background-color: #FFFF33;
	height: 120px;
	width: 240px;
	left: 1050px;
	top: 250px;
	position: absolute;
}

#f
{	border:1px solid;
	border-radius:20px;
	background-color: #CCFFFF;
	height: 120px;
	width: 240px;
	left: 50px;
	top: 390px;
	position: absolute;
	z-index: auto;

}
#g
{	border:1px solid;
	border-radius:20px;
	background-color: #1F24F1;
	height: 120px;
	width: 240px;
	left: 300px;
	top: 390px;
	position: absolute;
	z-index: auto;
}
#h
{	border:1px solid;
	border-radius:20px;
	background-color: #CCCCCC;
	height: 120px;
	width: 240px;
	left: 550px;
	top: 390px;
	position: absolute;
	z-index: auto;
}
#i
{	border:1px solid;
	border-radius:20px;
	background-color: #CCFF33;
	height: 120px;
	width: 240px;
	left: 800px;
	top: 390px;
	position: absolute;
	z-index: auto;
}
#j
{	border:1px solid;
	border-radius:20px;
	background-color: #00FFFF;
	height: 120px;
	width: 240px;
	left: 1050px;
	top: 390px;
	position: absolute;
}
#k
{	border:1px solid;
	border-radius:20px;
	background-color: #94C9C9;
	height: 120px;
	width: 240px;
	left: 50px;
	top: 520px;
	position: absolute;
	z-index: auto;
}
#l
{
	border:1px solid;
	border-radius:20px;
	background-color: #A29B82;
	height: 120px;
	width: 240px;
	left: 300px;
	top: 520px;
	position: absolute;
	z-index: auto;
}
#m
{	border:1px solid;
	border-radius:20px;
	background-color: #3FDCD5;
	height: 120px;
	width: 240px;
	left: 550px;
	top: 520px;
	position: absolute;
	z-index: auto;
}
#n
{	border:1px solid;
	border-radius:20px;
	background-color: #BABAF3;
	height: 120px;
	width: 240px;
	left: 800px;
	top: 520px;
	position: absolute;
	z-index: auto;
}
#o
{	border:1px solid;
	border-radius:20px;
	background-color: #85A018;
	height: 120px;
	width: 240px;
	left: 1050px;
	top: 520px;
	position: absolute;
}